* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

main {
    display: grid; 
    grid-template-columns: 1fr 3fr;
    height: 100%;
}

aside {
    display: grid; 
    grid-template-rows: auto 1fr;
    padding: .5rem;
    border-right: 1px solid black;
}

h1 {
    margin: .5rem 0;
}

button {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

#view-switch {
    float: right;
}

#browser {
    font-family: monospace;
}

#browser ul {
    list-style: none;
    padding-left: 1.5rem;
    margin-top: 0;
}

#browser form {
    margin-bottom: .5rem;
}

#editor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#editor textarea {
    flex-grow: 1;
    display: block;
    width: 100%;
    resize: none;
}

#editor .controls {
    display: flex;
    justify-content: flex-end;
    padding: .5rem 0 0 .5rem;
}

#editor .controls input {
    margin-left: .5rem;
}

#preview {
    max-height: 100%;
    overflow: hidden;
}

#preview iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.item {
    margin: .2rem 0;
}

.item a {
    margin-top: 2px;
    color: inherit;
    text-decoration: none;
}

.item__actions {
    visibility: hidden;
    display: flex;
    margin-left: auto;
    font-size: 1.5rem;
}

.item__actions button {
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.item--directory > div::before {
    content: '📂 ';
    margin-top: 2px;
    margin-right: .2rem;
}

.item--file,
.item--directory > div {
    display: flex;
}

.item--file:hover,
.item--directory > div:hover {
    background-color: #dbdbff;
}

.item--file:hover .item__actions,
.item--directory > div:hover .item__actions {
    visibility: visible;
}

.item--directory-folded ul {
    display: none;
}

.item--file::before {
    content: '📄';
    margin-top: 2px;
    margin-right: .2rem;
}

.item--file-selected > a {
    color: blue;
}
