* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #31186A;
  color: #fbf9fe;
  line-height: 1.3rem;
}

#content {
  margin: 2rem auto;
  max-width: 50rem;
}

a {
  text-decoration: none;
  color: #D64933;
}

pre {
  background: #23114D;
  padding: .5rem;
  border-radius: .2rem;
}
