<!DOCTYPE html>
<html>
    <head>
        <title><?= $this->e($page_title) ?></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
        <?= $this->section('head') ?> 
    </head>

    <body>
        <?= $this->section('body') ?> 
    </body>
</html>
