<? $this->layout('base', ['page_title' => 'CMS']) ?>

<? $this->start('head') ?>
    <link rel="stylesheet" type="text/css" href="/_assets/cms-styles.css">
    <script>var DIRECTORY_TREE = <?= json_encode($js_directory_tree) ?></script>
    <script defer src="/_assets/cms-script.js"></script>
<? $this->stop() ?>

<? $this->start('body') ?>
<main id="app">
    <aside>
        <nav>
            <button id="view-switch">Edit</button>
            <h1>CMS</h1>
        </nav>

        <div id="view">
            <div id="browser">
                <form id="create" class="hidden">
                    <input type="hidden" name="path" value=""/>
                    <input type="text" name="name" placeholder="Name"/>
                    <select name="type">
                        <option value="file">file</option>
                        <option value="directory">directory</option>
                    </select>
                    <button>Create</button>
                    <button data-action="cancel">Cancel</button>
                </form>

                <form id="upload" class="hidden">
                    <input type="hidden" name="path" value=""/>
                    <input type="text" name="name" placeholder="Name"/>
                    <input type="file" name="file"/>
                    <button>Upload</button>
                    <button data-action="cancel">Cancel</button>
                </form>

                <div id="tree"></div>
            </div>

            <form id="editor" class="hidden">
                <input type="hidden" name="path" value=""/>
                <textarea name="content"></textarea>
                
                <div class="controls">
                    <button data-action="save">Save</button>
                    <button data-action="preview">Preview</button>
                </div>
            </form>
        </div>
    </aside>

    <div id="preview">
        <iframe></iframe>
    </div>
</main>
<? $this->stop() ?>
