<? $this->layout('base', ['page_title' => 'Moss']) ?>

<? $this->start('head') ?>
    <link rel="stylesheet" type="text/css" href="/_assets/styles.css">
<? $this->stop() ?>

<? $this->start('body') ?>
    <main id="content">
        <?= $content ?>
    </main>
<? $this->stop() ?>
